@media screen and (max-width: 768px){
   
    /* ===================== CABEÇALHO ==================== */


    .titulo{
        margin-left: 10px;
    }
    .iconSite{
        width: 45px;
    }

    .temaSite{
        margin-right: 10px;
    }
    /* ===================== NAV FERRAMENTAS ==================== */
        
    .ferramentas{
        width: 80%;
    
    }


    .menuOutros > p, .tamFontes{
        margin: auto;
    }
    .menuCor{
        padding-right: 10px;
        margin: auto;
    }






}


