@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    body,html{
        width: 100%;
        height: 100vh;
    }

    /* ===================== CABEÇALHO ==================== */

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        width: 100%;
        height: 80px;

        background-color: #F8F8F8;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 50px;
    }
    .iconSite{
        width: 45px;
        
    }

    header h1{
        font-family: 'Fira Sans';
        font-size: 18px;
        letter-spacing: -1px;
        color: #2967B1;

        font-weight: normal;
    }
    .temaSite{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        
        margin-right: 50px;
        transition: .3s;
        border-radius: 100%;
    }

    .temaSite:hover{
        background-color: #E9E9E9;
        cursor: pointer;
    }

    .darkModeIcon{
        width: 30px;
    }


    /* ===================== NAV FERRAMENTAS ==================== */
        
    .ferramentas{
        margin: auto;
        margin-top: 50px;

        box-shadow: .5px .5px 3px .5px #44444425;
        width: 50%;
        height: 70px;

        background-color: #F9F9F9;
        border-radius: 8px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        overflow-x: scroll;
    }

    .ferramentas::-webkit-scrollbar{
        background-color: #f1f1f1;
        border-radius: 0px 0px 4px 4px;

    }
    .ferramentas::-webkit-scrollbar-thumb{
        background-color: #c1c1c1;
        border-radius: 4px;
    }

    .menuFontes{
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuFontes::after{
        content: ' ';
        height: 60%;
        display: block;
        border: 1px solid #d1d1d166;
        margin-left: 20px;
    }
    .menuFontes > p{
        font-size: 20px;
        font-family: 'IBM Plex';
        margin-bottom: 5px;
    }
    .menuFontes > select, #iTamFontes{
        cursor: pointer;
        margin-left: 5px;
        width: 85px;
        height: 22px;
        border-radius: 2px;
        border: none;
        background-color: #f1f1f1;
    }
    
    
    .menuOutros{
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .menuOutros::after{
        content: ' ';
        height: 60%;
        display: block;
        border: 1px solid #d1d1d166;
    }

    .menuOutros > p{
        font-family: 'IBM Plex';
        margin-right: 10px;
    }
    .tamFontes{
        margin-right: 10px;
    }

    #menuItalic{
        font-style: italic;

    }

    #menuUnderline{
        text-decoration: underline;
    }

    #menuBold{
        font-weight: bolder;  
    }

    .menuCor{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }

    #iconColor{
        cursor: pointer;
        width: 22px;
        margin-left: 20px;
    }

    .iconDark{
        display: none;
        cursor: pointer;
        width: 22px;
        margin-left: 20px;
    }

    #Icolor{
        width: 35px;
        border: none;
        cursor: pointer;
        margin-left: 5px;
        
    }

    #menuBold, #menuUnderline, #menuItalic{
        cursor: pointer;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        transition: .3s;
    }
    #menuBold:hover, #menuUnderline:hover, #menuItalic:hover{
        background-color: #E9E9E9;
    } 


/* ===================== INPUT TEXTO ==================== */

    main{
        margin: auto;
        margin-top: 30px;
        width: 70%;
       
    }

    #iTextBloco{
        margin: auto;
        max-width: 100%;
        min-width: 100%;
        min-height: 500px;

        font-size: 12px;
        padding: 5px;

        border: 1px solid #d1d1d1f3;
        border-radius: 10px;
        resize: none;

    }

    #iTextBloco:focus{
        border-color: #444;
        outline: none;
    }

/* =====================EVENTOS ATIVA JS==================== */


.ativosConfig{
    background-color: #E9E9E9;
    border: 1px solid #444;
}

.italicoBlocoNotas{
    font-style: italic;
}

.ativaUnderline{
    text-decoration: underline;
}
.ativaNegrito{
    font-weight: bold;
}



